.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

.comment-item-main-container {
  display: flex;
  flex-direction: column;
}
.comment-item-sub-container {
  display: flex;
}
.comment-item-top-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-left: 6px;
}
.comment-item-name-time-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.comment-item-like-delete-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.comment-item-like-container {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.comment-item-name {
  font-size: 16px;
  font-weight: 600;
  color: #334155;
  margin: 0px;
}
.comment-item-time {
  font-size: 12px;
  color: #94a3b8;
  margin: 0px;
}
.comment-item-comment {
  font-size: 14px;
  color: #64748b;
  margin: 0px;
}
.comment-item-like {
  font-size: 14px;
  color: #0ea5e9;
  margin: 0px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background-color: #fff;
  outline: none;
}
.comment-item-dislike {
  font-size: 14px;
  color: #7e858e;
  margin: 0px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background-color: #fff;
  outline: none;
}
.line {
  border: 1px solid #cbd2d9;
  width: 100%;
}
.delete {
  cursor: pointer;
  border: none;
  background-color: #fff;
  outline: none;
}
/* Write your CSS here 
.comment-item {
  list-style-type: none;
}

.comment-container {
  display: flex;
}

.initial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-top: 18px;
  margin-right: 8px;
  flex-shrink: 0;
}

.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

.initial {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  margin: 0;
}

.username-time-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 12px;
}

.username {
  color: #334155;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.time {
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 12px;
  margin-left: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.comment {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 14px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-container {
  display: flex;
  align-items: center;
}

.button {
  background-color: transparent;
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}

.like-image {
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

.active {
  color: #0ea5e9;
}

.delete {
  height: 20px;
  width: 20px;
}

.comment-line {
  width: 100%;
  border: 1px solid #dee0e3;
}
*/
